.container{
    position: relative;
    gap: 0;
    margin-bottom: 13%;
}

.header{
    border-bottom: 2px solid #16e416ee;
    margin-bottom: 5%;
}
.header h2{
    margin-bottom: 1%;
}

.productDetails{
    display: flex;
    position: relative;
    padding-left: 35%;
}

.imgDiv{
    width: 30%;
    height: 100%;
    position: absolute;
    left: 0;
}

.detailsCon{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.detailsCon p, .detailsCon h4{
    margin: 1%;
}

.productQuantity{
    position: relative;
    width: 9%;
    margin: 1%;
}

.productQuantity label{
    position: absolute;
    top: 0;
    left: 10%;
    font-size: 80%;
    font-weight: 500;
}

.productQuantity input{
    width: 100%;
    padding-left: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.total h4{
    margin: 1%;
}

@media (max-width: 1000px) {
    .header{
        margin: 10% 0 5% 0;
    }
}

@media (max-width: 800px){
    .container{
        margin-bottom: 25%;
    }
}

@media (max-width: 600px){
    .productQuantity{
    width: 15%;
}
}

@media (max-width: 400px){
    .container{
        margin-bottom: 30%;
    }
}
