.homeCon{
    margin-top: 10vh;
    display: flex;
    position: relative;
    flex-direction: column;
}
button:disabled{
    background-color: #16e416;
    color: whitesmoke;
    cursor: default;
}
button:disabled:hover{
    border: 0;
    outline: 0;
}

.searchCon{
    background-color: #08080891;
    width: 79%;
    height: 80px;
    left: 21vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    flex-direction: column;
    position: fixed;
    border-radius: 0 0 10px 10px;
    top: 0;
    backdrop-filter: blur(20px);
}

.modal{
    display: none;
    width: 50%;
    height: 100px;
    margin: 3.5rem 3.6rem 0;
    background-color: black;
    
}

.inputDiv{
    display: flex;
    align-items: center;
    position: relative;
    width: 87%;
    position: fixed;
    top: 15px;
}
.inputIcon{
    position: absolute;
    right: 10px;
    cursor: pointer;
    height: 80%;
    width: 3%;
}
.searchCon input{
    width: 100%;
    border: none;
    outline: 1px solid;
    height: 3.5rem;
    font-size: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 0 45px 0 20px;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.searchCon input::placeholder{
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 900;
}

.searchCon button{
    height: 3.5rem;
    width: 5rem;
    background-color: rgba(0, 0, 0, 0.572);
}

.sliderCon{
    display: flex;
    flex-direction: column;
    margin: 50px 5% 0 25%;
    background-color: #16e416ba;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 15px #16e416b5;
    border-radius: 20px;
    padding: 10px 20px;
}

.sliderDiv, .detailsSlider{
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    height: 100%; width: 100%;
    overflow: hidden; 
    justify-self: center;
    align-self: center;
    gap: 0 40px; position: relative
}
.sliderTitle p{
    font-weight: 700;
}
.sliderImg{
    width: 100px;
    height: 100px;
}

.title{
    font-size: 2rem;
    font-weight: bold;
    padding-left: 15px;
}
.cardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px 5%;
    margin-bottom: 50px;
    padding-top: 30px;
    border-top: 2px solid;
    border-top-right-radius: 15px;
}
.productCard{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #314e3199;
    position: relative;
    padding-top: 240px;
    margin-top: 40px;
}
.detailsDiv{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
}

.viewDetails{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 0;
    width: 100%;
}

.detailsDiv p, .detailsDiv h3, .detailsDiv h4{
    margin: 0;
}
.nameDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.imgDiv{
    justify-self: center;
    align-self: center;
    width: 95%;
    height: 300px;
    position: absolute;
    top: -10%;
}
.img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.favIcon{
    color: red;
    height: 15%;
    width: 13%;
    position: absolute;
    right: 5%;
}
.detailsDiv button{
    width: 90%;
    justify-self: center;
    align-self: center;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailsDiv button:hover{
    background-color: #16e416;
    color: white;
}
.icon{
    margin: 2px 0 0 5px;
}

.detailsPageDiv{
    position: fixed;
    bottom: 0;
    width: 79%;
    left: 21%;
    height: 93%;
    overflow: auto;
    z-index: 9;
    background-color: #2c292988;
    backdrop-filter: blur(20px);
    scrollbar-width: thin; 
    scroll-behavior: smooth;
    scrollbar-color: transparent;
    border-radius: 20px 20px 0 0;
}

.cancleDiv{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: rgba(102, 101, 101, 0.334);
    backdrop-filter: blur(20px);
}
.detailsCancle{
    width: 3%;
    height: 100%;
    margin: 1% 0;
}
.detailsSlider{
    display: flex;
    height: 50%;
    overflow-x: auto;
    scrollbar-width: thin; 
    scroll-behavior: smooth;
}

.detailsSlider::-webkit-scrollbar {
  height: 6px;
}

.detailsSlider::-webkit-scrollbar-track {
  background: transparent;
}

.detailsSlider::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.detailsPageContent{
    background: #13131380;
    display: flex;
    flex-direction: column;
    padding: 0 0 20px 5%;
    margin-top: 5px;
}

.detailsFav_Name{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2%;
}

.detailsFav_Name h2{
    margin: 0 1%;
    padding: 0;
}

.detailsPageContent button{
    width: 97.5%;
    height: 2.5rem;
    background-color: #16e416;
    margin-top: 20px;
}

.detailsPageContent table h4, .detailsPageContent table h2{
    padding: 0;
    margin: 0;
}

.detailsPageContent table td{
    padding: 2% 0;
    margin: 0;
}
.detailsPageContent table{
    border: 1px solid;
    border-radius: 20px;
    width: 98%;
    padding: 2%;
    margin: 1% 0;
}

@media (prefers-color-scheme: light){
    .productCard{
        background-color: rgba(0, 0, 0, 10%);
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    }

    .searchCon input{
        outline: 1px solid #263d51ca;
        color: #263d51ca;;
    }

    .modal{
        background-color: #c8c5c5;
    }
    .searchCon{
        background-color: #f8f8f8d1;
        backdrop-filter: blur(20px);
    }
    .sliderCon{
        background-color: #16e416;
        color: #263d51ca;
    }

    .cardContainer{
        border-top-color: #16e416;
    }

    .detailsDiv button{
        background-color: #16e416;
    }

    .detailsDiv button:hover{
        background-color: #c8c5c5;
        color: #263d51ca;
    }
    .detailsPageDiv{
        background-color: rgb(255 255 255 / 65%);
        backdrop-filter: blur(20px);
    }
    .detailsPageContent{
        background-color: #c8c5c543;
    }
}

@media (max-width: 1200px) and (min-width: 1000px) {
    .cardContainer{
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 1000px) {
   
    .searchCon{
        top: 54px;
        height: 80px;
        left: 0;
        width: 100%;
    }

    .sliderCon{
        margin: 10% 3% 0;
    }
    .inputDiv{
        width: 90%;
    }

    .modal{
        justify-self: center;
        align-self: center;
        width: 60%;
        margin: 4.8rem 15% 0 0;
    }
    .detailsPageDiv{
        width: 100%;
        left: 0;
    }
}


@media (max-width: 800px) {
    .cardContainer{
        grid-template-columns: 1fr 1fr;
        margin: 0;
        margin-bottom: 50px;
    }
    .title{
        font-size: 1.8rem;
    }
    .sliderCon{
        margin-top: 15%;
        padding-top: 0;
    }
    
}

@media (max-width: 730px){

    .homeCon{
        margin-top: 6vh;
    }

    .imgDiv{
        height: 200px;
    }
    .productCard{
        padding-top: 150px;
    }
    button {
    padding: .3em .6em;
    }
    .detailsDiv p{
        display: none;
    }
    .searchCon input{
        height: 2rem;
        border-radius: 5px;
    }
    .searchCon{
        padding-left: 0;
        height: 60px;
    }
    .modal{
        margin-top: 4.3rem;
        margin-right: 8%;
    }

    .inputIcon{
        height: 80%;
        width: 5%;
    }
    
}


@media (max-width: 520px){
    button {
        font-size: .8em;
    }

    .detailsDiv h3 {
        font-size: .9em;
    }
    .sliderImg{
        height: 70px;
        width: 70px;
    }
    .sliderCon{
        margin-top: 18%;
    }
    .detailsCancle{
        width: 5%;
        margin: 1.2%;
    }
}

@media (max-width: 420px){
    
    .detailsPageContent button{
        font-size: .8rem;
    }
    .modal{
        margin-right: 5%;
    }
    .sliderTitle{
        font-size: .8rem;
    } 
}

@media (max-width: 380px) {
    .sliderCon{
        margin-top: 25%;
    }
}

@media (max-width: 345px) {
    button{
        font-size: .6rem;
    }
}
